<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>DELL Technologies Forum</h1>
    <h2>Prize Draw</h2>
    <div style="text-align: center">
        <a href="{{ url_for('random') }}">GET WINNER</a>
    </div>
    
</body>

</html>