<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>DELL Technologies Forum</h1>
    <h2>And the Winner is...</h2>
    <h1>{{ winner }}</h1>
    
</body>

</html>